body {

}

.lightnav {
  border: none;
  background: none;
}

.navform {
  opacity: 0.75;
}

input:hover, button:hover {
  opacity: 1;
  background-color: #fff;
}

.mainsearch {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:40px;
  padding-top: 40px;
}

.welcome {
  padding: 20px;
  color: #fff;
  text-align: center;
  min-height: 250px;
  max-height: 750px;
  height: auto;
  border-bottom-color: #ddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background: none;
}


.welcome-main {
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 768px;

}

.welcome-btn {
  background-color: #58bf9a;
  border-radius: 4px;
  width: 250px;
  height: 64px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px rgba(16, 16, 16, 0.5);
}

.welcome-btn:hover {
  background-color: #52b08e;
  color: #fff;
}

.signup {
  border-bottom-color: #ddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 30px;

  background-color: #f5f5f5;
}

.signup-form {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.btn-signup-div {
  text-align: center;
  padding-top: 20px;
}

.btn-signup {
  background-color: #58bf9a;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: #fff;
}

.previews {
  padding-top: 10px;
  padding-bottom: 20px;
  height: 256px;
}

.newest {
  text-align: center;
}

.popular {
  text-align: center;
}

.about {
  padding-top: 150px;
  padding-bottom: 20px;
  border-top-color: #ddd;
  border-top-style: solid;
  border-top-width: 1px;
  height:368px;
  text-align: center;
  background-color: #f5f5f5;
}

.footer {
  padding-top: 180px;
  height: 435px;
  color: #eee;
  text-align: center;
  background-image: url(../img/footer_slate.jpg);
}

h3.light {
  color: #aaa;
}